.home__contenedor-principal {
  width: "100%";
  margin-top: 50px;

  .home__contenedor-imagen {
      display: flex;
    .home__imagen {
      width: 100%;

      @media (max-width: 750px) {
        width: 100%;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
